/* -------- Basic Set-up -------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Montserrat, Arial, Helvetica;
    color: #293338;
    background-color: #edecec;
}

#ypmd {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(186deg, #FAE5B3 0%, #EAC97E 100%), #FFF;
}

#our-product {
    background-color: #fafafa;
}
    
#index-hero,
#list-box,
#product-index,
#ypmd-hero,
#our-product,
#footer {
    scroll-margin-top: 120px;
}

.index-hero,
.list-box,
.mission,
.product-index,
.value-prop,
.ypmd-hero,
.ypmd-intro-box,
.your-contribution,
.strengthening-comm,
.our-product-hero,
.aroma,
.cooking,
.quality,
.csr,
.pacakge,
footer {
    position: relative;
    top: 71px;
    animation: initial-opacity 1s ease;
}

/* -------- Nav Set-up -------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    animation: initial-opacity 1s ease;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 20px 60px;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.25);
}

.nav-logo {
    background: url("./img/zera-logo-nav.png");
    width: 80px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.nav-list > ul{
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    animation: initial-opacity 2s ease;
}

.nav-a {
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #2d2d2d;
}

.nav-a::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #D6B67C;
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.nav-a:hover::before {
    width: 100%;
    transition: 0.4s ease-out;
}

.nav-active {
    color: #C29252;
}

/* -------- Nav Mobile -------- */

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fafafa;
    height: 75px;
    display: none;
}

.mobile-nav-container {
    position: relative;
}

.mobile-nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./img/zera-logo-nav.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 25px;
    top: 18px;
    width: 67px;
    height: 35px;
}

.mobile-nav-logo > a {
    position: relative;
    z-index: 94;
    width: 100%;
    height: 100%;
}
  
#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    left: 25px;
    z-index: 93;
    -webkit-user-select: none;
    user-select: none;
}
  
#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 95;
}
  
#menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #C29252;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
  
#menuToggle span:first-child {
    transform-origin: 0% 0%;
}
  
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
  
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #2d2d2d;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
  
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    position: absolute;
    width: 455px;
    height: 1000px;
    margin: -50px 0 0 -50px;
    padding-top: 88px;
    background-color: #fafafa;
    box-shadow: 0 0 10px #85888C;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.8s ease-in-out;
}

#menuToggle input:checked ~ ul {
    transform: none;
}
  
#menu li {
    list-style: none;
    padding: 20px 50px;
    transition-delay: 2s;
    border-bottom: 3px solid #eeeeee;
}

.nav-b {
    position: relative;
    text-decoration: none;
    font-size: 1.563rem;
    font-weight: 800;
    color: #2d2d2d;
}


/* -------- Hero Set-up-------- */

.index-hero {
    z-index: 98;
    padding: 0 0 40px;
    animation: initial-opacity 2s ease;
}

.index-hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('./img/hero-bg-rice-field.png'), lightgray 50% / cover no-repeat;
    padding: 5.73vw;
    min-height: 500px;
}

.greeting {
    display: flex;
}

.greeting > h1 {
    font-size: 4.5vmin;
    color: #fff;
}

/* -------- List Box Set-up -------- */

.list-box-container {
    padding: 40px 60px 75px;
    display: flex;
    gap: 30px;
}

.list-box-left {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('./img/more-than-purchase-bg-photo.png'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list-box-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    border-radius: 15px;
    min-height: 350px;
    min-width: 400px;
}

.list-box-left > p {
    color: #fafafa;
    font-size: 2.5rem;
    font-weight: 700;
}

.text-box-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding-right: 30px;
}

.text-box-right > p {
    font-weight: 600;
    line-height: 180%;
    font-size: 1rem;
    padding-right: 30px;
}

/*
.list-box-explore {
    display: none;
}
*/

.list-box-explore > a {
    position: relative;
    z-index: 51;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: #C29252;
    border: 1.5px solid #C29252;
    padding: 10px 20px;
    border-radius: 10px;
}

.list-box-explore > a:hover {
    background-color: #C29252;
    color: #fafafa;
    transition: 0.2s;
}

/* -------- Mission Set-up -------- */

.mission-container {
    display: flex;
}

.mission-img {
    background: url('./img/mission-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    height: 500px;
}

.mission-text-box {
    padding: 30px 0 30px 0;
    margin-right: 15px;
    position: relative;
    left: -60px;
    display: flex;
    width: 40%;
}

.mission-text-box-container {
    background-color: #293338;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 60px;
}

.flower-1 {
    position: absolute;
    bottom: -25px;
    left: 0;
    background-image: url('./img/flower-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 128.148px;
    height: 165.45px;
}

.mission-text-box-main {
    color: #fafafa;
}

.mission-text-box-main > h2 {
    margin-bottom: 5px;
    font-size: 2.5rem;
}

.mission-text-box-main > p {
    font-size: .975rem;
    line-height: 160%;
}

.flower-2 {
    position: absolute;
    top: 30px;
    right: 0;
    background-image: url('./img/flower-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 128.148px;
    height: 165.45px;
}

/* -------- Our Product Set-up -------- */

.product-title {
    font-size: 1.75rem;
    font-weight: 700;
    padding-left: 40px;
    padding-top: 40px;
}

.product-index-container {
    background: linear-gradient(139deg, rgba(234, 201, 126, 0.80) -0.69%, rgba(250, 229, 179, 0.59) 100%);
    display: flex;
    height: 600px;
}

.product-index-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 40px;
    max-width: 70%;
}

.product-front-img {
    background: url('./img/product-img-front.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 222px;
    height: 303px;
    z-index: 90;
}

.product-back-img {
    background: url('./img/product-img-back.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 222px;
    height: 303px;
    z-index: 90;
}

.product-line {
    width: 75px;
    height: 303px;
    background-color: #293338;
}

.line-1 {
    position: relative;
    bottom: -129px;
    left: -150px;
}

.line-2 {
    position: relative;
    top: -168px;
    right: 145px;
}

.product-index-right {
    background-color: #fff;
    border-radius: 0 0 0 50px;
    display: flex;
    width: 80%;
}

.product-index-right-container {
    padding: 50px;
}

.flower-3 {
    position: absolute;
    top: 91px;
    right: 0;
    background-image: url('./img/flower-3.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 128.148px;
    height: 165.45px;
}

.product-index-right-textbox > h3 {
    font-size: 2rem;
}

.title-underline {
    background: #EAC97E;
    width: 140px;
    height: 2.5px;
    margin-top: 3px;
}

.product-index-right-textbox > p {
    margin-top: 20px;
    font-weight: 500;
    line-height: 170%;
}

.product-index-right-textbox > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 15px;
}

.product-index-right-textbox > ul > li {
    background-color: #FAEDCF;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 0.75rem;
} 


.value-prop-container {
    background: linear-gradient(266deg, rgba(234, 201, 126, 0.80) -0.69%, rgba(250, 229, 179, 0.59) 100%);
    display: flex;
    height: 100%;
}

.value-prop-left {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 40px;
    width: 334.5px;
    border-radius: 0 50px 0 0;
}

.line-3 {
    width: 76px;
    height: 600px;
    background-color: #293338;
    position: relative;
    top: 0;
    left: -147.5px;
}

.value-prop-right {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.value-prop-right-container > h3 {
    font-size: 2rem;
}

.value-prop-main-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 100px;
}

.value-prop-box-1,
.value-prop-box-2,
.value-prop-box-3 {
    display: flex;
    align-items: center;
    width: 100%;
}

.value-icon {
    min-width: 81.01px;
    min-height: 81.01px;
    margin-right: 15px;
}

.aroma-icon {
    background: url('./img/aroma-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.premium-icon {
    background: url('./img/premium-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.csr-icon {
    background: url('./img/csr-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.value-text > p:first-child {
    font-weight: 600;
    font-size: 1.125rem;
}

.value-text > p:last-child {
    font-weight: 500;
}

/* -------- YPMD Page Set-up -------- */

.ypmd-hero-container {
    background-image: url('./img/ypmd-hero-img.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    align-items: flex-end;
    padding: 60px;
}

.ypmd-hero-message {
    font-size: 3.5rem;
    color: #fafafa;
}

.ypmd-intro-box {
    padding: 60px;
}

.ypmd-intro-box {
    background-color: #fafafa;
}

.ypmd-intro-box-container {
    background-color: #293338;
    padding: 70px 50px;
    border-radius: 50px 0 50px 0;
    display: flex;
}

.flower-4 {
    background-image: url('./img/flower-4.png');
    background-size: cover;
    width: 109.252px;
    height: 101.686px;
    position: absolute;
    bottom: 60px;
    left: 60px;
}

.flower-5 {
    background-image: url('./img/flower-5.png');
    background-size: cover;
    width: 109.252px;
    height: 101.686px;
    position: absolute;
    top: 60px;
    right: 60px;
}

.ypmd-intro-text > h2 {
    color: #fafafa;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 140%;
}

.your-contribution-container {
    padding: 80px;
    background-color: #eee;
}

.your-contribution-heading-container > h3 {
    font-size: 2rem;
    font-weight: 800;
}

.your-contribution-heading-container > p {
    font-weight: 600;
    margin-top: 10px;
}

.your-contribution-heading {
    margin-bottom: 35px;
}

.your-contribution-box-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.yc-box-container {
    background-color: #fafafa;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
    box-shadow: 0px 0px 65px -35px rgba(0, 0, 0, 0.25);
}

.yc-box-text > h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.yc-box-text > p {
    font-weight: 600;
    margin-bottom: 40px;
}

.btn > a {
    text-decoration: none;
}

.learn-more-btn > a {
    color: #D6B67C;
    padding: 8px 12px;
    border: 1.5px solid #D6B67C;
    border-radius: 5px;
    font-weight: 500;
}

.learn-more-btn > a:hover {
    color: #fafafa;
    background-color: #D6B67C;
    border: none;
    transition: 0.4s ease-out;

}

.yc-box-img {
    min-width: 50%;
    min-height: 350px;
    border-radius: 15px;
}

.yc-box-img-1 {
    background: url('./img/yc-mcs-img.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.yc-box-img-2 {
    background: url('./img/yc-ctc-img.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.yc-box-text-2 {
    text-align: right;
    padding-left: 30px;
}

.yc-box-img-3 {
    background: url('./img/yc-mf-img.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.yc-box-text-1,
.yc-box-text-3 {
    padding-right: 40px;
}


/* -------- Strengthening Set-up -------- */


.strengthening-comm-container {
    background-color: #fafafa;
    padding: 80px;
}

.strengthening-comm-heading {
    margin-bottom: 35px;
}

.strengthening-comm-heading-container > h3 {
    font-size: 2rem;
    font-weight: 800;
}

.strengthening-comm-heading-container > p {
    font-weight: 600;
    margin-top: 10px;
}

.strengthening-comm-box-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sc-box-container {
    background-color: #eeeeee;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.sc-box-imges {
    width: 100%;
    height: 350px;
    display: flex;
    gap: 20px;
}

.sc-box-img {
    width: 100%;
    min-height: 350px;
    border-radius: 15px;
}

.sc-box-img-1 {
    background: url('./img/sc-tsunami-img-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sc-box-img-1-2 {
    background: url('./img/sc-tsunami-img-1-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sc-box-img-2 {
    background: url('./img/sc-sport-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sc-box-img-2-2 {
    background: url('./img/sc-sport-2-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sc-box-img-3 {
    background: url('./img/sc-festival-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sc-box-img-3-2 {
    background: url('./img/sc-festival-3-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sc-box-text {
    padding: 10px 20px 20px;
}

.sc-box-text > h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.sc-box-text > p {
    font-weight: 600;
}

/* -------- Our Product Page Set-up-------- */

/* -------- Default -------- */
.our-product-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.our-product-des {
    font-size: 1.125rem;
    line-height: 150%;
}
/* -------- Our Product Hero Set-up -------- */

.our-product-hero-container {
    background-image: url('./img/our-product-hero-img.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    align-items: flex-end;
    padding: 60px;
}

.our-product-hero-message {
    font-size: 3.5rem;
    color: #fafafa;
    text-transform: uppercase;
}

/* -------- Aroma Set-up -------- */

.aroma-container {
    padding: 20px;
    display: flex;
    background-color: #edecec;
}

.aroma-img {
    background: url('./img/aroma-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 570px;
    height: 570px;
}

.aroma-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 90px;
}

.circle-btn-1 {
    position: relative;
    top: 170px;
    left: 220px;
}

.circle-btn-2 {
    position: relative;
    top: 350px;
    left: 280px;
}

/* -------- Cooking Set-up -------- */

.cooking-container {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.cooking-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 90px;
}

.cooking-img {
    background: url('./img/cooking-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 570px;
    height: 570px;
}

.circle-btn-3 {
    position: relative;
    top: 140px;
    left: 150px;
}

.circle-btn-4 {
    position: relative;
    top: 300px;
    left: 270px;
}

/* -------- Quality Set-up -------- */

.quality-container {
    padding: 20px;
    display: flex;
    background-color: #eee;
}

.quality-img {
    background: url('./img/quality-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 570px;
    height: 570px;
}

.quality-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 90px;
}

.circle-btn-5 {
    position: relative;
    top: 160px;
    left: 230px;
}

.circle-btn-6 {
    position: relative;
    top: 290px;
    left: 300px;
}

/* -------- CSR Set-up -------- */

.csr-container {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.csr-img {
    background: url('./img/csr-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 570px;
    height: 570px;
}

.csr-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 90px;
}

.circle-btn-7 {
    position: relative;
    top: 250px;
    left: 280px;
}

.circle-btn-8 {
    position: relative;
    top: 350px;
    left: 1000px;
}

/* -------- Package Set-up -------- */

.package-container {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.package-img {
    background: url('./img/package-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 570px;
    height: 570px;
    background-color: #EAC97E;
}

.package-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 90px;
}

.circle-btn-9 {
    position: relative;
    top: 250px;
    left: 280px;
    z-index: 90;
}

.circle-btn-10 {
    position: relative;
    top: 350px;
    left: 280px;
}

/* -------- Circle btn Set-up -------- */

button {
    background-color: transparent;
    border: none;
}

.svg-container {
    width: 54px; /* Initial width */
    height: 54px; /* Initial height */
    transition: width 0.3s ease, height 0.3s ease; /* Smooth transition for size */
}

.svg-container:hover {
    width: 54px; /* Updated hover state width to 45px */
    height: 54px; /* Updated hover state height to 45px */
}

.group {
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.svg-container:hover .group {
    opacity: 0.9; /* Hover state opacity */
}

.outer-circle {
    transition: r 0.3s ease, opacity 0.3s ease, stroke-width 0.3s ease; /* Smooth transitions for circle attributes */
}

.svg-container:hover .outer-circle {
    r: 25.787; /* Hover state radius - adjust if needed */
    opacity: 0.5; /* Hover state opacity */
    stroke: #fafafa; /* Hover state stroke color */
    stroke-width: 2; /* Hover state stroke width */
}

.inner-circle {
    transition: fill 0.3s ease, r 0.3s ease; /* Smooth transitions for fill color and radius */
}

.svg-container:hover .inner-circle {
    fill: #fafafa; /* Hover state fill color */
    r: 8; /* Hover state radius - adjust if needed */
}

/* -------- Text Fade-in Effect Set-up -------- */

#circle-btn-1,
#circle-btn-2,
#circle-btn-3,
#circle-btn-4,
#circle-btn-5,
#circle-btn-6,
#circle-btn-7,
#circle-btn-8 {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease;
}

#circle-btn-1.visible,
#circle-btn-2.visible,
#circle-btn-3.visible,
#circle-btn-4.visible,
#circle-btn-5.visible,
#circle-btn-6.visible,
#circle-btn-7.visible,
#circle-btn-8.visible {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* -------- Footer Set-up V.2-------- */

footer {
    background-color: #293338;
    color: #fafafa;
}

.footer-info-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 70px;
}

.ntc-logo {
    background-image: url('./img/ntc-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 290px;
    height: 58.557px;
    padding: 70px 70px 0;
}

.footer-info-main {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.footer-info-box-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-info-box-left-text-1 > h4,
.footer-info-box-left-text-2 > h4 {
    font-size: 1.25rem;
    margin-bottom: 5px;
    display: flex;
}

.footer-info-box-left-text-1 > p,
.footer-info-box-left-text-2 > p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 130%;
    display: flex;
}

.footer-info-box-right {
    width: 50%;
}

.footer-info-box-right-text-1 {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.footer-info-box-right-text-1 > h4 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.footer-contact-info-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 75%;
}

.footer-contact-info-container > a {
    text-decoration: none;
}

.footer-contact-info-box-1,
.footer-contact-info-box-2,
.footer-contact-info-box-3 {
    padding: 10px 12px 10px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.footer-contact-info-box-1 {
    background-color: #fafafa;
}

.footer-contact-info-box-2,
.footer-contact-info-box-3 {
    background-color: #60D972;
}

.footer-contact-info-box-1 > p {
    color: #293338;
    font-weight: 600;  
}

.footer-contact-info-box-2 > p,
.footer-contact-info-box-3 > p {
    color: #fafafa;
    font-weight: 600;  
}

.footer-contact-info-box-1:hover {
    cursor: pointer;
    background-color: #dcdcdc;
    transition: 0.2s ease-out;
}

.footer-contact-info-box-2:hover,
.footer-contact-info-box-3:hover {
    cursor: pointer;
    background-color: #06c755;
    transition: 0.2s ease-out;
}

.footer-email-icon {
    background: url('./img/email-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 27.922px;
    height: 21px;
}

.footer-whatsapp-icon {
    background: url('./img/whatsapp-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

.footer-line-icon {
    background: url('./img/line-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 22.041px;
    height: 21px;
}

.footer-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fafafa;
}

.footer-mark > p {
    font-size: 0.785rem;
    color: #293338;
    font-weight: 600;
    text-align: center;
}

/* -------- Footer Set-up -------- */
/*
footer {
    padding: 70px;
}

.index-footer {
    background-color: #293338;
}

.footer-container {
    color: #fafafa;
}

.footer-container > h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    gap: 40px;
}

.contact-info-left,
.contact-info-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-info-left {
    margin-right: 20px;
}

.contact-info-left-textbox-1 > p:first-child,
.contact-info-left-textbox-2 > p:first-child,
.contact-info-right-textbox-1 > p:first-child {
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 3px;
}

.contact-info-left-textbox-1 > p:last-child,
.contact-info-left-textbox-2 > p:last-child,
.contact-info-right-textbox-1 > p:last-child {
    line-height: 130%;
    font-weight: 500;
}

.contact-info-right-textbox-2 > P {
    font-style: italic;
    font-weight: 600;
    font-size: 0.85rem;
}
*/
/* -------- Special Set-up -------- */

/* Topic Title */
.topic-title {
    position: relative;
    display: inline;
    font-size: 1.875rem;
    color: #2d2d2d;
    font-weight: 700;
}

/* Line Break */
.section-break-container-1 {
    padding: 10px 0;
    display: flex;
    gap: 7px;
    animation: initial-slideRight 2s ease-in;
}

.section-break-container-2 {
    padding: 10px 0px 30px;
    display: flex;
    justify-content: flex-end;
    gap: 7px;
}

.section-break-container-3 {
    padding: 20px 0;
    display: flex;
    gap: 7px;
    background-color: #fafafa50;
}

.section-break-line-1 {
    width: 40px;
    height: 8px;
    background-color: #D6B67C;
    border-radius: 15px;
}

.section-break-line-2 {
    width: 90px;
    height: 8px;
    background-color: rgb(225, 225, 225);
    border-radius: 15px;
}

.section-break-line-3 {
    width: 300px;
    height: 8px;
    background-color: rgb(225, 225, 225);
    border-radius: 15px;
}


/* -------- Animation Set-up -------- */

@keyframes initial-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes initial-slideUp {
    0% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes initial-slideUp-2 {
    0% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes initial-slideRight {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.fade-in {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(20%);

}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

/* -------- Resposive Adjustment ---------- */

@media only screen and (max-width: 1180px) {
/*-----Product Page-----*/
    .aroma-img,
    .cooking-img,
    .quality-img,
    .csr-img {
        width: 500px;
        height: 500px;
    }

    .circle-btn-1 {
        position: relative;
        top: 140px;
        left: 190px;
        z-index: 90;
    }
    
    .circle-btn-2 {
        position: relative;
        top: 290px;
        left: 250px;
    }

    .circle-btn-3 {
        position: relative;
        top: 110px;
        left: 130px;
        z-index: 90;
    }
    
    .circle-btn-4 {
        position: relative;
        top: 255px;
        left: 240px;
    }

    .circle-btn-5 {
        position: relative;
        top: 130px;
        left: 200px;
        z-index: 90;
    }
    
    .circle-btn-6 {
        position: relative;
        top: 250px;
        left: 260px;
    }

    .circle-btn-7 {
        position: relative;
        top: 220px;
        left: 250px;
    }

}


@media only screen and (max-width: 1105px) {
/*-----Mission-----*/
    .mission-img {
        width: 50%;
    }

    .mission-text-box {
        width: 50%;
    }

/*-----Our Product-----*/
    .product-index-right-textbox > p {
        font-size: 0.785rem;
    }

    .product-index-right-textbox > ul > li {
        font-size: 0.675rem;
    } 
    
}

@media only screen and (max-width: 1040px) {
    /*-----Product Page-----*/
        .aroma-container-right,
        .cooking-container-left,
        .quality-container-right,
        .csr-container-left {
            padding: 40px 60px;
        }
    }

@media only screen and (max-width: 980px) {
/*-----Our Product-----*/
    .product-back-img {
        display: none;
    }
    .line-2 {
        display: none;
    }

    .product-index-right-textbox > p {
        font-size: 1rem;
    }

    .product-index-right-textbox > ul > li {
        font-size: 0.75rem;
    } 

/*----- Value Prop -----*/
    .value-prop-main-container {
        padding-right: 20px;
    }
    .value-text > p:first-child {
        font-size: 1rem;
    }
    
    .value-text > p:last-child {
        font-size: 0.85rem;
    }

/*-----Product Page-----*/
    .our-product-title {
        font-size: 1.125rem;
        margin-bottom: 10px;
    }

    .our-product-des {
        font-size: 1rem;
        line-height: 150%;
    }   

    .aroma-img,
    .cooking-img,
    .quality-img,
    .csr-img {
        width: 420px;
        height: 420px;
    }

    .circle-btn-1 {
        top: 120px;
        left: 150px;
    }

    .circle-btn-2 {
        top: 220px;
        left: 210px;
    }

    .circle-btn-3 {
        top: 80px;
        left: 100px;
    }

    .circle-btn-4 {
        top: 200px;
        left: 200px;
    }

    .circle-btn-5 {
        top: 100px;
        left: 170px;
    }

    .circle-btn-6 {
        top: 200px;
        left: 210px;
    }

    .circle-btn-7 {
        top: 180px;
        left: 210px;
    }
}

@media only screen and (max-width: 900px) {
/*-----List Box-----*/
    .list-box-container {
        flex-direction: column;
        padding: 10px 50px 75px;
    }

    .text-box-right {
        gap: 30px;
    }
}

@media only screen and (max-width: 882px) {
/*-----Default-----*/
    .contact-info-left-textbox-1 > p:first-child,
    .contact-info-left-textbox-2 > p:first-child,
    .contact-info-right-textbox-1 > p:first-child {
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 3px;
    }

    .contact-info-left-textbox-1 > p:last-child,
    .contact-info-left-textbox-2 > p:last-child,
    .contact-info-right-textbox-1 > p:last-child {
        line-height: 130%;
        font-weight: 500;
        font-size: 0.875rem;
    }

    .contact-info-right-textbox-2 > P {
        font-style: italic;
        font-weight: 600;
        font-size: 0.785rem;
    }

/*-----Strengthening-Comm-----*/
    .sc-box-imges {
        flex-direction: column;
        height: 100%;
    }
}

@media only screen and (max-width: 870px) {
/*-----Product Page-----*/
    .our-product-des {
        font-size: 0.85rem;
    }

    .aroma-container,
    .quality-container {
        flex-direction: column;
        font-weight: 500;
    }

    .cooking-container,
    .csr-container {
        flex-direction: column-reverse;
    }

    .aroma-img,
    .cooking-img,
    .quality-img,
    .csr-img {
        width: 100%;
        height: 570px;
        background-position: center;
    }

    .aroma-container-right,
    .cooking-container-left,
    .quality-container-right,
    .csr-container-left {
        padding: 20px 20px 10px;
    }

    .circle-btn-1 {
        top: 130px;
        left: 230px;
        
    }

    .circle-btn-2 {
        top: 420px;
        left: 300px;
    }

    .circle-btn-3 {
        top: 100px;
        left: 120px;
    }

    .circle-btn-4 {
        top: 350px;
        left: 300px;
    }

    .circle-btn-5 {
        top: 100px;
        left: 190px;
    }

    .circle-btn-6 {
        top: 270px;
        left: 280px;
    }

    .circle-btn-7 {
        top: 180px;
        left: 210px;
    }
}

@media only screen and (max-width: 810px) {
/*-----Your Contribution-----*/
    .yc-box-container {
        display: block;
        align-items: center;
    }
    .yc-box-text {
        margin: 20px 0;
    }
    .yc-box-text > h4 {
        margin-bottom: 5px;
    }
    .yc-box-text > p {
        margin-bottom: 25px;
    }
    .yc-box-2 {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    } 
    .yc-box-img-2 {
        width: 100%;
    }
    .yc-box-text-2 {
        text-align: left;
        padding-left: 0;
    }

}

@media only screen and (max-width: 800px) {
/*-----Our Product-----*/
    .product-index-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .product-index-left {
        width: 100%;
        padding: 40px;
        gap: 50px;
    }

    .line-1 {
        display: none;
    }

    .product-back-img {
       display: block;
    }

    .product-index-right {
        border-radius: 0;
        width: 100%;
        background-color: #fafafa;
    }

/*-----Value Prop-----*/
    .value-prop-left {
        border-radius: 0;
        padding: 0 40px 0 40px;
    }

    .value-prop-right {
        padding: 30px;
    }

    .line-3 {
        display: none;
    }
}

@media only screen and (max-width: 775px) {
/*-----Footer-----*/
    .ntc-logo {
        width: 205px;
        height: 41px;
        padding: 0;
    }

    .footer-info-box-left-text-1 > h4,
    .footer-info-box-left-text-2 > h4 {
        font-size: 1rem;
    }

    .footer-info-box-left-text-1 > p,
    .footer-info-box-left-text-2 > p {
        font-size: 0.875rem;
    }

    .footer-info-box-right-text-1 > h4 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .footer-contact-info-box-1 > p,
    .footer-contact-info-box-2 > p,
    .footer-contact-info-box-3 > p {
        font-size: 0.785rem;
    }
}

@media only screen and (max-width: 755px) {
/*-----Mission-----*/
    .mission-img {
        display: none;
    }

    .mission-text-box {
        margin-right: 0;
        position: block;
        left: 0;
        padding: 30px;
        width: 100%;
        background: url('./img/mission-img.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
    }

    .mission-text-box-container {
        background-color: hsla(200, 15%, 19%, 0.9);
    }

    .flower-1 {
        left: 30px;
    }

    .flower-2 {
        right: 30px;
    }

/*-----Product-----*/ 
    .product-index-left {
        padding: 0 40px 0 40px;
        max-width: 80%;
    }

/*-----Value Prop-----*/
    .value-prop-left {
        display: none;
    }

    .value-prop-right {
        padding: 50px;
    }
}

@media only screen and (max-width: 670px) {
/*-----Default-----*/
    nav {
        display: none;
    }
    .mobile-nav {
        display: block;
        animation: initial-opacity 1s ease;
    }

    #menu {
        width: 360px;
        height: 1000px;
    }
}

@media only screen and (max-width: 665px) {
/*-----Footer-----*/
    .footer-contact-info-container {
        width: 100%;
    }

    .footer-contact-info-box-1,
    .footer-contact-info-box-2,
    .footer-contact-info-box-3 {
        padding: 8px 10px 8px 8px;
    }

    .footer-email-icon {
        width: 22.677px;
        height: 17.055px;
    }

    .footer-whatsapp-icon {
        width: 17.055px;
        height: 17.055px;
    }

    .footer-line-icon {
        width: 17.901px;
        height: 17.055px;
    }
}

@media only screen and (max-width: 615px) {
    .footer-info-main {
        flex-direction: column;
        gap: 50px;
    }

    .footer-info-box-left-text-1 > h4,
    .footer-info-box-left-text-2 > h4,
    .footer-info-box-left-text-3 > h4 {
        font-size: 1.25rem;
    }

    .footer-info-box-left-text-1 > p,
    .footer-info-box-left-text-2 > p,
    .footer-info-box-left-text-3 > p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 555px) {
/*-----Your Contribution-----*/
    .your-contribution-container {
       padding: 50px; 
    }
    .your-contribution-heading-container > h3 {
        font-size: 1.85rem;
    }

/*-----Strengthening Community-----*/
    .strengthening-comm-container {
        padding: 50px;
    }
    .strengthening-comm-heading-container > h3 {
        font-size: 1.85rem;
    }
}

@media only screen and (max-width: 550px) {
/*-----Our Product-----*/
    .product-index-left {
        padding: 20px 0 20px 0;
        max-width: 80%;
    }
}

@media only screen and (max-width: 517px) {
/*-----Default-----*/
#menuToggle {
    display: block;
}
/*
.mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-nav-logo {
    position: relative;
    top: 0;
    right: 0;
}
*/
/*-----index Hero-----*/
    .index-hero-container {
        padding: 5.73vw;
        height: 300px;
        background-size: cover;
        background-position: top;
    }

    .greeting {
        display: flex;
        justify-content: center;
    }

    .greeting > h1 {
        font-size: 2.25rem;
        color: #fff;
        width: 90%;
        text-align: center;
        text-transform: capitalize;
        line-height: 150%;
    }

/*-----List Box-----*/
    .list-box-container {
        padding: 0 30px 35px;
        display: flex;
        gap: 30px;
    }

    .list-box-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 40px 20px 20px;
    }    

    .list-box-left > p {
        color: #fafafa;
        font-size: 2rem;
        font-weight: 700;
    }

    .text-box-right,
    .text-box-right > p {
        padding-right: 0;
        padding: 0 5px;
        font-weight: 500;
        gap: 15px;
    }

    .list-box-explore {
        display: flex;
        justify-content: flex-start;
    }

    .list-box-explore > a {
        font-size: 0.875rem;
        font-weight: 700;
        color: #fafafa;
        border: none;
        background-color: #C29252;
        padding: 11px 20px;
        border-radius: 5px;
        width: 40%;
        text-align: center;
    }

/*-----Mission-----*/
    .mission-text-box {
        padding: 15px;
    }

    .mission-text-box-container {
        height: 100%;
        padding: 40px;
    }

    .flower-1 {
        bottom: 8px;
        left: 15px;
        width: 109.252px;
        height: 101.686px;
        z-index: 20;
    }

    .flower-2 {
        top: 15px;
        right: 15px;
        width: 109.252px;
        height: 101.686px;
    }

    .mission-text-box-main {
        display: flex;
        flex-direction: column;
    }

    .mission-text-box-main > h2 {
        margin-bottom: 10px;
        font-size: 2rem;
    }
    
    .mission-text-box-main > p {
        font-size: 0.875rem;
        font-weight: 500;
        z-index: 50;
    }

/*-----Our Product-----*/
    .product-title {
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-top: 40px;
    }

    .flower-3 {
        top: 91px;
        right: -4px;
        width: 109.252px;
        height: 101.686px;
    }
/*-----Value Prop-----*/
    .value-prop-main-container {
        padding-right: 0;
    }

    .value-prop-box-1,
    .value-prop-box-2,
    .value-prop-box-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .value-icon {
        margin-right: 0;
    }

    .value-text {
        text-align: center;
    }

    .value-text > p:first-child {
        font-weight: 700;
        font-size: 1.125rem;
        margin-bottom: 7px;
    }
    
    .value-text > p:last-child {
        font-size: 1rem;
        font-weight: 500;
        line-height: 140%;
    }

/*-----Value Prop-----*/
    .contact-info {
        display: flex;
        flex-direction: column;
        gap: 30px;
    } 

/*-----Footer-----*/
}

@media only screen and (max-width: 500px) {
/*-----Index Hero-----*/
    .index-hero-container {
        min-height: 400px;
    }

/*-----List Box-----*/
    .list-box-left {
        min-height: 150px;
        min-width: 100px;
    }

/*-----YPMD-----*/
    .ypmd-hero-container{
        padding: 40px;
        min-height: 350px;
    }
    .ypmd-hero-message {
        font-size: 2.75rem;
    }
    .ypmd-intro-text > h2 {
        font-size: 1rem;
        line-height: 160%;
    }

/*-----Your Contribution-----*/
    .your-contribution-heading-container > h3 {
        font-size: 1.5rem;
    }
    .your-contribution-heading-container > p {
        font-size: 1rem;
        font-weight: 500;
    }
    .yc-box-img {
        min-height: 250px;
    }
    .yc-box-text > h4 {
        font-size: 1.25rem;
    }
    .yc-box-text > p {
        font-size: .875rem;
        font-weight: 500;
    }
    .learn-more-btn > a {
        font-size: 1rem;
        padding: 7px 11px;
    }

/*-----Your Contribution-----*/
    .strengthening-comm-heading-container > h3 {
        font-size: 1.5rem;
    }
    .strengthening-comm-heading-container > p {
        font-size: 1rem;
        font-weight: 500;
    }
/*-----Your Contribution-----*/
    .sc-box-img {
        min-height: 250px;
    }
    .sc-box-text > h4 {
        font-size: 1.25rem;
    }
    .sc-box-text > p {
        font-weight: 500;
    }
    .sc-box-text {
        padding: 0;
    }
}

@media only screen and (max-width: 430px) {
/*-----Default-----*/
    #menu {
        width: 330px;
        height: 1000px;
    }

/*-----YPMD-----*/
    .ypmd-hero-message {
        font-size: 2.5rem;
        font-size: 700;
        line-height: 110%;
    }
    .ypmd-intro-box {
        padding: 30px;
    }
    .flower-4 {
        bottom: 30px;
        left: 30px;
    }
    .flower-5 {
        top: 30px;
        right: 30px;
    }

/*-----Your Contribution-----*/
    .your-contribution-container {
        padding: 30px;
    }

    .learn-more-btn > a {
        color: #fafafa;
        background-color: #D6B67C;
    }

/*-----Strengthen Community-----*/
    .strengthening-comm-container {
        padding: 30px;
    }

/*-----Footer-----*/
    .footer-info-container {
        padding: 40px;
    }

    .footer-contact-info-container {
        width: 200%;
    }

    .footer-info-box-left-text-1 > h4,
    .footer-info-box-left-text-2 > h4,
    .footer-info-box-left-text-3 > h4 {
        font-size: 1rem;
    }

    .footer-info-box-left-text-1 > p,
    .footer-info-box-left-text-2 > p {
        font-size: 0.875rem;
    }

    .footer-info-box-right-text-1 > h4 {
        font-size: 1.25rem;
    }

/*-----Product Page-----*/
    .our-product-hero-message {
        font-size: 2.5rem;
    }

    .our-product-hero-container {
        padding: 30px;
        min-height: 400px;
    }

/*
    .our-product-title,
    .our-product-des {
        text-align: center;
    }
*/

    .aroma-img,
    .cooking-img,
    .quality-img,
    .csr-img {
        height: 370px;
    }

    .aroma-container-right,
    .cooking-container-left,
    .quality-container-right,
    .csr-container-left {
        padding: 15px 0 5px;
    }

    .circle-btn-1 {
        top: 60px;
        left: 110px;
        
    }

    .circle-btn-2 {
        top: 200px;
        left: 200px;
    }

    .circle-btn-3 {
        top: 80px;
        left: 100px;
    }

    .circle-btn-4 {
        top: 180px;
        left: 220px;
    }

    .circle-btn-5 {
        top: 80px;
        left: 150px;
    }

    .circle-btn-6 {
        top: 160px;
        left: 230px;
    }

    .circle-btn-7 {
        top: 170px;
        left: 190px;
    }
}

@media only screen and (max-width: 390px) {
/*-----List Box-----*/
    .list-box-explore > a {
        width: 50%;
    }

/*-----YPMD-----*/
    .ypmd-intro-text > h2 {
        font-size: 0.875rem;
        font-weight: 700;
    }

    .product-index-left {
        padding: 0;
        width: 100%;
    }

/*-----YPMD-----*/
    .ntc-logo {
        width: 155px;
        height: 31px;
    }
/*-----Footer-----*/
    .footer-info-main {
        gap: 30px;
    }
}

@media only screen and (max-width: 280px) {
/*-----Index Hero-----*/
    .index-hero {
        padding: 0;
    }

/*----- List Box-----*/
    .list-box-container {
        padding: 20px;
        gap: 20px;
    }

    .text-box-right > p {
        font-size: 0.785rem;
        line-height: 150%;
    }

    .list-box-explore > a {
        font-size: 0.75rem;
        color: #fafafa;
        width: 60%;
    }

/*----- Mission-----*/
    .mission-text-box {
        height: 430px;
    }

    .mission-text-box-main > h2,
    .mission-text-box-main > p {
        text-align: center;
    }

    .mission-text-box-main > p {
        font-size: 0.75rem;
    }

/*----- Our Product-----*/
    .product-title {
        padding-top: 20px;
    }

    .product-title > h1 {
        font-size: 1.5rem;
    }

    .product-index-left {
        flex-direction: column;
        padding: 60px;
    }

    .flower-3 {
        top: 49px;
        right: -4px;
        width: 109.252px;
        height: 101.686px;
    }

    .product-index-right-container {
        padding: 20px;
    }

    .product-index-right-textbox > h3 {
        font-size: 1.5rem;
    }

    .product-index-right-textbox > p {
        font-size: 0.75rem;
    }

/*----- Valu Prop-----*/
    .value-prop-right {
        padding: 30px 30px 40px;
    }

    .value-prop-main-container {
        margin-top: 20px;
    }

    .value-prop-right-container > h3 {
        font-size: 1.5rem;
    }

    .value-icon {
        min-width: 60px;
        min-height: 60px;
        margin-right: 0;
    }

    .value-text > p:first-child {
        font-size: 1rem;
    }

    .value-text > p:last-child {
        font-size: .75rem;
    }

    .contact-info-left-textbox-1 > p:first-child,
    .contact-info-left-textbox-2 > p:first-child,
    .contact-info-right-textbox-1 > p:first-child {
        font-size: 1rem;
        margin-bottom: 2px;
    }

    .contact-info-left-textbox-1 > p:last-child,
    .contact-info-left-textbox-2 > p:last-child,
    .contact-info-right-textbox-1 > p:last-child {
        font-size: 0.75rem;
    }

    .contact-info-right-textbox-2 > P {
        font-size: 0.675rem;
    }

/*----- Product Page-----*/
    .our-product-hero-message {
        font-size: 1.75rem;
    }

    .our-product-hero-container {
        padding: 20px;
        min-height: 300px;
    }

    .aroma-img,
    .cooking-img,
    .quality-img,
    .csr-img {
        height: 370px;
    }

    .circle-btn-1 {
        top: 60px;
        left: 50px;
        
    }

    .circle-btn-2 {
        top: 200px;
        left: 130px;
    }

    .circle-btn-3 {
        top: 80px;
        left: 50px;
    }

    .circle-btn-4 {
        top: 180px;
        left: 130px;
    }

    .circle-btn-5 {
        top: 80px;
        left: 80px;
    }

    .circle-btn-6 {
        top: 160px;
        left: 140px;
    }

    .circle-btn-7 {
        top: 170px;
        left: 120px;
    }

/*-----Footer-----*/
    .footer-info-container {
        padding: 20px;
    }

}